.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex {
  display: flex;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#calculatorScreen {
  margin: 0;
  padding: 0;
}

#result {
  height: 50px;
  width: 396px;
  background-color: #636363;
  color: #fff;
  text-align: end;
  border: none;
  font-size: larger;
}

#calcButtons {
  display: flex;
  flex-direction: column;
}

#calcButtons div {
  display: flex;
}

.calcButton {
  height: 50px;
  width: 100px;
  border: 1px solid #ccc;
}

.calcButton2 {
  height: 50px;
  width: 200px;
  border: 1px solid #ccc;
}

.operator {
  background: #c62;
}
